{% extends 'base.html' %}

{% load static %}

{% block title%}TechCiclo - Economia Circular{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cadastro_produtos-servicos.css' %}">
{% endblock %}

{% block content %}

<body>
<main class="cadastro-page">
    <h1 class="form-titulo"><i class="fa-solid fa-recycle"></i>
        Cadastro de Produtos ou Serviços</h1> 

    <p class="form-sub-titulo">Realize o Formulário abaixo para cadastrar seu produto ou serviço:</p>

    <form action="/cadastro_produtos-servicos" method="POST" enctype="multipart/form-data" class="cadastro-form">
        {% csrf_token %}
        <label>Escolha o tipo:</label>
        <select name="tipo" id="tipo">
            <option value="produto">Produto</option>
            <option value="servico">Serviço</option>
        </select>

        <label for="nome">
            <i class="fa-solid fa-tag"></i>
            Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="descricao">
            <i class="fa-solid fa-align-left"></i>
            Descrição:</label>
        <textarea id="descricao" name="descricao" required></textarea>

        <label for="caracteristicas">
            <i class="fa-solid fa-list-check"></i>
            Características:</label>
        <textarea id="caracteristicas" name="caracteristicas" required></textarea>

    <div id="campo-produto" class="grupo-formulario">
        <label for="condicao">Condição:</label>
        <select id="condicao" name="condicao" >
            <option value="novo">Novo</option>
            <option value="usado">Usado</option>
        </select>
    </div>

    <div class="grupo-formulario">
        <label for="categoria">
            <i class="fa-solid fa-laptop"></i>
            Categoria:</label>
        <select id="categoria" name="categoria" >
            <option value="games">Games</option>
            <option value="computador">Computador</option>
            <option value="celular">Celular</option>
            <option value="acessorios">Acessórios</option>
        </select>
    </div>

        <div id="campo-valores" class="grupo-formulario" style="display: none;">
            <label for="valor">
                <i class="fa-solid fa-money-bill-wave"></i>
                Valor:</label>
            <input type="number" id="valor" name="valor" step="0.01">
        </div>

        <label for="imagem">
            <i class="fa-solid fa-image"></i>
            Coloque uma imagem:</label>
        <input type="file" id="imagem" name="imagem" accept="image/*" required>

        <button type="submit">
            <i class="fa-solid fa-circle-plus"></i>
            Cadastrar</button>
    </form>
</main>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/cadastro_produtos-servicos.js' %}"></script>
{% endblock %}    
    
</body>