{% extends 'base.html'%}
{% load static %}

{% block title%}TechCiclo - Economia Circular{% endblock%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/servicos.css' %}">
{% endblock %}

{% block content %}

<body>
<main class="container">
        <section class="boas-vindas">
            <h2>Serviços de Manutenção</h2>
            <p>Solicite serviços de manutenção do seu produto aqui</p>
        </section>

        <section class="botao-cadastro">
            <button class="btn-cadastro"><a href="catalogo/">
                <i class="fa-solid fa-plus"></i> Cadastrar Serviço
            </a></button>

        </section>
        
        <section class="form-section">
            <form action="/servicos" method="POST" class="servicos-form">
                <label for="servico">Serviço:</label>
                <div class="input-group">
                    <input type="text" id="servico" name="servico" required placeholder="Digite o nome do serviço">
                    <button type="submit">Solicitar Serviço</button>
                </div>
            </form>  
        </section>

    <div class="container-servicos">
    
        <div class="card-servico">
            <div class="icone-circulo">
                <i class="fa-solid fa-desktop"></i>
            </div>
            <p class="texto-servico">Instalação e configuração</p>
        </div>

        <div class="card-servico">
            <div class="icone-circulo">
                <i class="fa-solid fa-wrench"></i>
            </div>
            <p class="texto-servico">Manutenção</p>
        </div>

        <div class="card-servico">
            <div class="icone-circulo">
                <i class="fa-solid fa-arrow-up"></i>
            </div>
            <p class="texto-servico">Upgrade</p>
        </div>

        <div class="card-servico">
            <div class="icone-circulo">
                <i class="fa-brands fa-windows"></i>
            </div>
            <p class="texto-servico">Software e otimização</p>
        </div>
    </div>

    <section class="servicos-disponiveis">
        <h2> Serviços Disponíveis:</h2>
        <ul class="lista-servicos">
            <li><i class="fa-solid fa-check"></i> Manutenção</li>
            <li><i class="fa-solid fa-check"></i> Software e otimização</li>
            <li><i class="fa-solid fa-check"></i> Upgrade</li>
            <li><i class="fa-solid fa-check"></i> Instalação e configuração</li>
        </ul>
    </section>

</main>

    <section class="card-servicos">
    
    <article class="servico">
        <div class="servico-img-container">
            <img src="{%  static 'img/baixados(6).jpg'%}" class="imagem" alt="Manutenção de Computadores">
        </div>
        <h3 class="servico-titulo">Manutenção de Computadores</h3>
        <p class="servico-preco">R$ 120,00</p>
        <a href="servico1/" class="btn-info">Informação do serviço</a>
    </article>

    <article class="servico">
        <div class="servico-img-container">
            <img src="{% static 'img/baixados(9).jpg' %}" class="imagem" alt="Instalação de computadores">
        </div>
        <h3 class="servico-titulo">Instalação e Configuração</h3>
        <p class="servico-preco">R$ 80,00</p>
        <a href="servico2/" class="btn-info">Informação do serviço</a>
    </article>

    <article class="servico">
        <div class="servico-img-container">
            <img src="{% static 'img/baixados(7).jpg'%}" class="imagem" alt="Atualização de software">
        </div>
        <h3 class="servico-titulo">Atualização e Desempenho</h3>
        <p class="servico-preco">Sob consulta</p>
        <a href="#" class="btn-info">Informação do serviço</a>
    </article>

    <article class="servico">
        <div class="servico-img-container">
            <img src="{% static 'img/baixados (3).jpg'%}" class="imagem" alt="Upgrade de hardware">
        </div>
        <h3 class="servico-titulo">Upgrade de Hardware</h3>
        <p class="servico-preco">Sob consulta</p>
        <a href="#" class="btn-info">Informação do serviço</a>
    </article>
    
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/servicos.js' %}"></script>
{% endblock %}
    
</body>
</html>