
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f9;
    color: #333;
}

.logo { font-size: 1.8rem; font-weight: bold; }

.usuario { display: flex; align-items: center; gap: 10px; }
.usuario i { font-size: 1.5rem; color: white; }

.conteiner-produto {
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
    max-width: 1100px;
    margin: 2rem auto;
    padding: 1rem;
}

.produto-detalhes span {
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
    display: block;
}
.info-produto-topo{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:20px;
    font-size:18px;
}

.badge-usado{
    display:inline-block;
    background:#2e7d32;
    color:#fff;
    padding:5px 14px;
    border-radius:20px;
    font-size:15px;
    font-weight:bold;
}

.produto-visual {
    flex: 1 1 400px; 
}

.card-img img {
    width: 447px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    object-fit: cover;
}
.carrossel-container {
    width: 450px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.carrosel {
    overflow-x: hidden;
    flex: 1;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.carrossel-lista {
    display: flex;
    gap: 12px;
    list-style: none;
}

.carrossel-item {
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid transparent;
    transition: .3s;
}

.carrossel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .75;
    transition: .3s;
}

.carrossel-item:hover {
    transform: translateY(-4px);
}

.carrossel-item:hover img {
    opacity: 1;
}

.carrossel-item.ativo {

    border-color: #0329d5;

    box-shadow:
        0 0 0 3px rgba(3,41,213,.15);
}

.carrossel-item.ativo img {
    opacity: 1;
}

.seta-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    font-size: 20px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    transition: .3s;
}

.seta-btn:hover {
    background: #0329d5;
    color: white;
    transform: scale(1.1);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.produto-detalhes {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-info h2 { font-size: 2rem; color: #0329d5; }
.card-texto p { line-height: 1.6; font-size: 1.1rem; color: #555; }

.lista-caracteristicas {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 1rem;
}

.lista-caracteristicas li {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.lista-caracteristicas i { color: #252ee6; }


.acoes-grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foto-usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.nome-usuario {
    font-weight: bold;
    color: #0329d5;
    font-size: 20px;
}

.avaliacao, .trocas-realizadas {
    display: block;
    font-size: 18px;
    color: #555;

}

.btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1rem;
}

.btn-trocar { background-color: #0329d5; color: white; }
.btn-carrinho { background-color: #e3e3ea; color: #333; }
.btn-info-extra { background: #0329d5 }

.btn:hover { opacity: 0.9; transform: translateY(-2px); }

.card-chat {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    border-left: 5px solid #0329d5;
}

.btn-chat {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.campo-solicitacao{
    display: none; 
    margin-top: 25px;
    padding: 25px;
    background: #ffffff;
    border: 2px solid #d9e8dd;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    animation: aparecer .3s ease;
}

.campo-solicitacao.ativo{
    display: block;
}

.texto{
    text-align: center;
    color: #2e7d32;
    font-size: 22px;
    margin-bottom: 25px;
}

.lista-produto{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 18px;
    margin-bottom: 18px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    background: #fafafa;
    transition: .3s;
}

.lista-produto:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,.10);
}



.lista-produto img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}

.info-produto{
    flex: 1;
}

.info-produto h4{
    font-size: 22px;
    color: #2b2b2b;
    margin-bottom: 8px;
}

.info-produto p{
    color: #666;
    font-size: 16px;
    margin-bottom: 18px;
}

.btn-selecionar{
    background: #2e7d32;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
}

.btn-selecionar:hover{
    background: #1b5e20;
    transform: scale(1.05);
}

.campo-solicitacao p{
    text-align: center;
    color: #666;
    font-size: 17px;
}

.card-produtos-mostruario{
    width: 100%;
    margin-top: 40px;
    padding: 30px;
    /* background: #e2dfdf; */
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.produtos-ativos{
    width: 100%;
    text-align: center;
    color: #1932ad;
    font-size: 30px;
    margin-bottom: 20px;
}

.img-produto-cds{
    width: 240px;
    height: 320px;

    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 15px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .3s;
}

.img-produto-cds:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

.img-produto-cds img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:768px){

    .card-produtos-mostruario{
        padding:20px;
    }

    .img-produto-cds{
        width:180px;
        height:240px;
    }

}

@keyframes aparecer{

    from{
        opacity:0;
        transform: translateY(-15px);
    }

    to{
        opacity:1;
        transform: translateY(0);
    }

}

@media(max-width:768px){

    .lista-produto{
        flex-direction: column;
        text-align: center;
    }

    .lista-produto img{
        width: 180px;
        height: 180px;
    }

    .btn-selecionar{
        width: 100%;
    }

}


@media (max-width: 992px) {
    .header-container {
        grid-template-columns: 1fr ;
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}