
{% extends 'base.html'%}



{% load static %}

{% block title%}TechCiclo - Detalhes do Produto{% endblock%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/produto1.css' %}">
{% endblock %}

{% block content %}
    <main class="container-produto">
            <div class="card-img">
                <img id="imagemPrincipal" src="{% static 'img/baixados (1).jpg'%}" alt="Produto">
            </div>

           

            <div class="carrosel">
                 <button class="seta-btn" id="btn-prev">
                    ❮
                 </button>
                <ul class="carrosel-lista">

                    <li class="carrosel-item ativo">
                        <img src="{% static 'img/mouse.hamester(1).jpeg'%}" alt="rosa">
                    </li>

                    <li class="carrosel-item">
                        <img src="{% static 'img/mouse.hamester(2).jpeg'%}" alt="branco">
                    </li>

                    <li class="carrosel-item">
                        <img src="{% static 'img/mouse.hamester(3).jpeg'%}" alt="azul">
                    </li>

                    <li class="carrosel-item">
                        <img src="{% static 'img/mouse.hamester(4).jpeg'%}" alt="amarelo">
                    </li>
                </ul>

                    <button class="seta-btn" id="btn-next">
                          ❯
                    </button>
            </div>
        </section>

        <section class="produto-detalhes">
            <div class="card-info">

                <h2>Mouse Gamer de Hamster</h2>
                <div class="card-texto">
                    <p>O Mouse Hamster é uma escolha única e criativa que combina estilo e praticidade. Design inspirado em hamsters fofos, perfeito para diversão no dia a dia com conexão rápida e estável 2.4Ghz.</p>
                </div>
                
                <ul class="lista-caracteristicas">
                    <li><i class="fa-solid fa-wifi"></i> Conexão sem fio 2.4Ghz</li>
                    <li><i class="fa-solid fa-face-smile"></i> Design ergonômico e divertido</li>
                    <li><i class="fa-solid fa-desktop"></i> Windows, Mac e Linux</li>
                    <li><i class="fa-solid fa-battery-half"></i> Alimentado por bateria AA</li>
                </ul>
            </div>

            <div class="acoes-grupo">
                <button class="btn btn-trocar">Solicitar troca</button>
                <div id="campoSolicitacao" class="campo-solicitacao">
                    <h4 class="texto">Escolha um produto para oferecer na troca</h4>


                    <div class="lista-produto">
                        {% for produto in produtos_usuario%}
                            <img src="{{produto.imagem.url}}" alt="{{produto.nome}}">

                            <div class="info-produto">
                                <h4>{{ produto.nome }}</h4>
                                <p>{{ produto.estado }}</p>
                                
                                <button class="btn-selecionar" data-produto-id="{{ produto.id }}">Selecionar</button>
                                
                            </div>
                    </div>
                    {% empty %}
                        <p>Você não tem produtos disponíveis para troca.</p>
                    {% endfor %}
                </div>
            </div> 

            <div class="card-chat">
                <h3>proprietário:</h3>
                <img src="{% static 'img/foto_usuario.jpg' %}" alt="Foto do usuário" class="foto-usuario">
                <p class="nome-usuario">José Luiz</p>
                <span class="avaliacao">⭐ 4.6</span>
                <span class="trocas-realizadas">🔁 12 trocas realizadas</span>
                <a href="{% url 'chat' %}" class="btn-chat">
                    Iniciar Chat <i class="fa-solid fa-message"></i>
                </a>
            </div>
        </section>
         <section class="card-produtos-mostruario">
            <h2 class="produtos-ativos">Produtos do Mostruário</h2>

            <div class="img-produto-cds">
                <img src="{% static 'img/baixados(1).jpg' %}" alt="Produto 1">
            </div>

            <div class="img-produto-cds">
                <img src="{% static 'img/oculos.rv(4).jpg' %}" alt="Produto 2">
            </div>

        </section>
    </main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/produto1.js' %}"></script>
{% endblock %}