{% extends 'base.html'%}

{% load static %}

{% block title%}TechCiclo - Detalhes do Produto{% endblock%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/produto1.css' %}">
{% endblock %}

{% block content %}
<body>

    <main class="container-produto">
        <section class="card-produto">
            <div class="card-img">
                <img id="imagemPrincipal" src="{% static 'img/baixados (1).jpg'%}" alt="Produto">
            </div>
            <div class="corrosel-conteiner">
                <button class="seta-btn" id="btn-prev">
                    ❮
                </button>
            <div class="carrosel">
                <ul class="carrosel-lista">
                    <li class="carrosel-item ativo">
                        <img src="{% static 'img/mouse.hamester(1).jpeg'%}" alt="rosa">
                    </li>
                    <li class="carrosel-item">
                        <img src="{% static 'img/mouse.hamester(2).jpeg'%}" alt="branco">
                    </li>
                    <li class="carrosel-item">
                        <img src="{% static 'img/mouse.hamester(3).jpeg'%}" alt="azul">
                    </li>
                    <li class="carrosel-item">
                        <img src="{% static 'img/mouse.hamester(4).jpeg'%}" alt="amarelo">
                    </li>
                </ul>
            </div>
            <button class="seta-btn" id="btn-next">
                ❯
            </button>       
            </div>
        </section>

        <section class="produto-detalhes">
            <div class="card-info">
            <span>estado: <strong>Novo</strong> / categoria: <strong>Acessórios</strong></span>
                <h2>Mouse Gamer de Hamster</h2>
                <div class="card-texto">
                    <p>O Mouse Hamster é uma escolha única e criativa que combina estilo e praticidade. Design inspirado em hamsters fofos, perfeito para diversão no dia a dia com conexão rápida e estável 2.4Ghz.</p>
                </div>
                
                <ul class="lista-caracteristicas">
                    <li><i class="fa-solid fa-wifi"></i> Conexão sem fio 2.4Ghz</li>
                    <li><i class="fa-solid fa-face-smile"></i> Design ergonômico e divertido</li>
                    <li><i class="fa-solid fa-desktop"></i> Windows, Mac e Linux</li>
                    <li><i class="fa-solid fa-battery-half"></i> Alimentado por bateria AA</li>
                </ul>
            </div>

            <div class="acoes-grupo">
                <button class="btn btn-trocar">Solicitar Troca</button>
                <button class="btn btn-info-extra">Adicionar informações</button>
            </div>

            <div class="card-chat">
                <h3>Chat com o proprietário:</h3>
                <img src="{% static 'img/foto_usuario.jpg' %}" alt="Foto do usuário" class="foto-usuario">
                <p class="nome-usuario">José Luiz</p>
                <span class="avaliacao">⭐ 4.6</span>
                <span class="trocas-realizadas">🔁 12 trocas realizadas</span>
                <a href="chat/" class="btn-chat">
                    Iniciar Chat <i class="fa-solid fa-message"></i>
                </a>
            </div>
        </section>
    <div id="modal-troca" class="modal" >
        <div class="modal-content">
            <button class="close-button" id="close-modal"><i class="fa-solid fa-xmark"></i></button>

            <h3>Escolha um dos seus produtos para solicitar a troca:</h3>
            <p class="modal-subtitulo">Selecione um produto da sua lista:</p>
            <form id="form-solicitar-troca">
                <div class="lista-meus-produtos">
                    <label>
                        <input type="radio" name="produto-troca" value="teclado-rgb" required>
                        <img src="/TechEco---senac-trabalho/img/teclado gamer logitech.jpg" alt="Teclado Gamer Logitech" class="produto-troca-imagem">
                        <div class="produto-troca-info">
                        <strong>Teclado Gamer Logitech</strong>
                        <span>Estado: Novo</span>
                        </div>
                    </label>

                    <label>
                        <input type="radio" name="produto-troca" value="headset-gamer" required>
                        <img src="/TechEco---senac-trabalho/img/headset reddragon.jpg" alt="Headset Gamer Reddragon" class="produto-troca-imagem">
                        <div class="produto-troca-info">
                            <strong>Headset Gamer Reddragon</strong>
                            <span>Estado: Usado</span>
                        </div>
                    </label>

                </div>

                <button type="submit" class="btn btn-enviar-proposta">Enviar Proposta de Troca</button>
            </form>
        </div>
    </div>
    </main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/produto1.js' %}"></script>
{% endblock %}

</body>
</html>