{% extends 'base.html'%}
{% load static %}

{% block title%}TechCiclo - Chat{% endblock%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
     

<div class="chat-page">
    <aside class="chat-recentes">
    <button class="voltar-pagina" onclick="window.history.back();">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <h2 class="chat-titulo">Mensagens Recentes</h2>
    
    <div class="lista-conversas">

 <a href="#" class="conversa-produto ativa">
    <img src="{% static 'img/foto_usuario.jpg' %}" alt="foto de usuario" class="avatar-wraper">
    
    <div class="conversa-info">
        <span class="nome-usuario">Carlos Silva</span>
        <span class="horario">14:32</span>
        <p class="ultima-mensagem">📍 Local de encontro</p>
    </div>
</a>

<a href="#" class="conversa-produto">
    <img src="{% static 'img/foto_usuario.jpg' %}" alt="foto de usuario" class="avatar-wraper">
    
    <div class="conversa-info">
        <span class="nome-usuario">Ana Maria</span>
        <span class="horario">09:15</span>
        <p class="ultima-mensagem">Olá! Tudo bem?</p>
    </div>
</a>

    </div>
</aside>

    <main class="chat-container">
        <header class="chat-header">
            <button class="voltar-chat" aria-label="Voltar para contatos">
            <i class="fa-solid fa-arrow-left"></i></button>
            <img src="{% static 'img/baixados (1).jpg' %}" alt="mouse hamster" class="chat-produto-img">
            <div class="chat-produto-info">
                <h2>Trocando com : Carlos Silva</h2>
                <h2>Produto: Mouse Hamster 2.4GHz</h2>
                <p>Status: Em negociação</p>
            </div>
        </header>

        <div class="chat-main">
            <div class="mensagem recebida">Olá! Estou interessado no seu mouse hamster. Ele está em bom estado?</div>
            <div class="mensagem enviada">Oi! Sim, o mouse está em ótimo estado, utilize poucas vezes.</div>

            <div class="mensagem recebida">perfeito! o meu teclado também está em bom estado. Onde poderiamos se encontrar para a troca?</div>
            <div class="location-card">
                <strong>📍Local de encontro:</strong><br>
                Praça de alimentação do shopping boulevard, perto ao spoletto<br>
                <button class="botao-confirmar">Confirmar local</button>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Digite sua mensagem..." class="input-mensagem">
            <button class="botao-enviar"><i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </main>
{%  endblock %}

{% block extra_js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
