{%extends 'base.html'%}
{% load static %}

{% block title%}TecCiclo - Tela administrativa{%endblock%}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/tela_admin.css'%}">
{% endblock %}

{% block content %}

<main class="conteiner-admin">
    <section class="admin-info">

    <div class="perfil-admin">

        <img src="{% static 'img/foto_usuario.jpg' %}">

        <div>
            <h3>Administrador</h3>
            <p>Painel Administrativo</p>
        </div>

    </div>

    <div class="pesquisa-admin">
        <input type="text" id="campoPesquisa" placeholder="Pesquisar clientes, produtos ou serviços...">
    </div>

</section>

    <h2 class="titulo-secao">
            <i class="fa-solid fa-chart-line"></i>
            Painel Administrativo
    </h2>

  <section class="dashboard">
        <div class="card-info">
            <i class="fa-solid fa-users"></i>
            <h2>324</h2>
            <p>Usúarios cadastrados</p>
        </div>

        <div class="card-info">
            <i class="fa-solid fa-box"></i>
            <h2>226</h2>
            <p>Produtos cadastrados</p>
        </div>
        
        <div class="card-info">
            <i class="fa-solid fa-info"></i>
            <h2>65</h2>
            <p>Trocas realizadas</p>
        </div>
  </section> 
  <section class="ultimos-clientes-cds">
        <h2 class="titulo-secao">
            <i class="fa-solid fa-users"></i>
            Últimos Clientes
        </h2>
       <div class="tabelas-clientes">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Produto</th>
                        <th>Serviço</th>
                        <th>CEP</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ana</td>
                        <td>ana1234@gmal.com</td>
                        <td>mouse hamester</td>
                        <td>troca</td>
                        <td>234123-90</td>

                        <td>
                            <button class="btn-editar">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn-excluir">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <td>Lucas</td>
                        <td>lucas6578@gmal.com</td>
                        <td>óculos de realidade virtual</td>
                        <td>troca</td>
                        <td>456738-90</td>

                         <td>
                            <button class="btn-editar">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn-excluir">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>    
                </tbody>
            </table>
       </div>
  </section>

  <section class="ultimos-produtos-cds">
    <h2 class="titulo-secao">
        <i class="fa-solid fa-box-open"></i>
        Últimos Produtos cadastrados
    </h2>
    <div class="tabelas-produtos">
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Status</th>
                    <th>Estado de conservação</th>
                    <th>Tipo de serviço</th>
                    <th>Ações</th>
                </tr>
        </thead>
            <tbody>
                <tr>
                    <td>Mouse hamester</td>
                    <td>Sansung</td>
                    <td>ACessorio</td>
                    <td> <span class="badge disponivel">Disponivel</span></td>
                    <td>Seminovo</td>
                    <td>Troca</td>

                        <td>
                            <button class="btn-editar">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn-excluir">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                </tr>
                <tr>
                    <td>Óculos de realidade virtual</td>
                    <td>Oracle</td>
                    <td>HMD</td>
                    <td><span class="badge finalizado">Finalizado</span></td>
                    <td>Concluida</td>
                    <td>Troca</td>

                        <td>
                            <button class="btn-editar">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn-excluir">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>

                </tr>
            </tbody>
        </table>
    </div>
</section>
  <section>
      <div class="ultimos-servicos-cds">
        <h2 class="titulo-secao">
            <i class="fa-solid fa-gear"></i>
            Últimos Serviços Cadastrados
        </h2>    
        <table>
            <thead>
                <tr>
                    <th>Serviço</th>
                    <th>Produto</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Manutenção</td>
                    <td>Mouse</td>
                    <td>Lucas</td>
                    <td>Em andamento</td>
                    <td>2023-10-01</td> <td><i class="fa-solid fa-calendar-days"></i></td>
                </tr>
                <tr>
                    <td>Instalação</td>
                    <td>Óculos de realidade virtual</td>
                    <td>Ana</td>
                    <td>Finalizado</td>
                    <td>2023-10-02</td> <td><i class="fa-solid fa-calendar-days"></i></td>
            </tbody>
        </table>
    </div>
  </section>

  <section class="conteiner-verde">
    <h2 class="titulo-secao-branco">
        <i class="fa-solid fa-leaf"></i>
        Indicadores de Sustentabilidade
    </h2>
    <div class="card-sustentabilidade">
        <h2>Equipamentos Reaproveitados</h2> 
            <i class="fa-solid fa-envira"></i>
        <h2>Resíduos eletrônicos enviados 🌱</h2>
    </div>
  </section>

</main>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/tela_admin.js'%}"></script>
{% endblock %}